<!--
  ~ Copyright (c) 2018 Network International.
  ~ The copyright notice above does not evidence any
  ~ actual or intended publication of such source code.
  -->

<configuration>

    <appender name="applicationAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <version/>
                <threadName/>
                <logLevel/>
                <logLevelValue/>
                <loggerName/>
                <timestamp/>
                <mdc/>
                <message/>
                <logstashMarkers/>
                <stackTrace>
                    <fieldName>stackTrace</fieldName>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <variable name="APP_LOG_LEVEL" value="${APP_LOG_LEVEL:-INFO}" />
    <logger name="ae.network" level="${APP_LOG_LEVEL}"/>

    <root level="INFO">
        <appender-ref ref="applicationAppender" />
    </root>

</configuration>